<!doctype html>
<html lang="en">
<head>
    {% block title %}<title>Design.pro</title>{% endblock %}
    <meta charset="utf-8"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'posts/styles.css' %}"/>
</head>
<body>
<div class="container">
    {% block sidebar %}
    <ul class="nav">
        <a href="{% url 'posts:index' %}">Главная</a>
        {% if user.is_authenticated %}
        <a href="{% url 'posts:profile' %}">Профиль</a>
        {% if not user.is_staff %}
        <a href="{% url 'posts:create_request' %}">Заказать дизайн</a>
        {% endif %}
        {% else %}
        <a href="{% url 'posts:login' %}">Заказать дизайн</a>
        <a href="{% url 'posts:login' %}">Вход</a>
        <a href="{% url 'posts:registration' %}">Регистрация</a>
        {% endif %}
    </ul>
    {% endblock %}


    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>

