{% extends "basic.html" %}
{% block content %}
<h2>Заявки пользователя {{ user.first_name }} {{ user.last_name }}</h2>

<form method="get">
  <label for="status_select">Фильтр по статусу:</label>
  <select name="status" id="status_select">
    <option value="" {% if not current_status %}selected{% endif %}>Все</option>
    <option value="n" {% if current_status == "n" %}selected{% endif %}>Новая заявка</option>
    <option value="a" {% if current_status == "a" %}selected{% endif %}>Принято в работу</option>
    <option value="d" {% if current_status == "d" %}selected{% endif %}>Выполнено</option>
  </select>
  <button type="submit">Фильтровать</button>
</form>

{% if userrequest_list %}
<ul>
    {% for req in userrequest_list %}
    <div class="request">
        <li>
            <a href="{% url 'posts:request_detail' pk=req.id %}">{{ req.title }}</a>
            <p>{{ req.description }}</p>
            <p>Категория: {{ req.category }} </p>
            <p>Статус: {{ req.get_status_display }}</p>
            <img src="{{ req.image.url }}" class="img" alt="Фото">
        </li>
    </div>
    {% endfor %}
</ul>
{% else %}
<p>У вас пока нет заявок :(</p>
{% endif %}
<a href="{% url 'posts:logout' %}" class="logout">Выйти из аккаунта</a>
{% endblock %}