* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d0024;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    gap: 3em;
    padding: 1em;
    width: 80%;
}

.container {
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 2em;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #dc56ff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 1em;
}

.main h2, p {
    color: #dc56ff;
}

.content h2 {
    color: #dc56ff;
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 25em;
    margin: 1em auto;
    padding: 1em;
    border: 3px solid #dc56ff;
}

form p {
    margin-bottom: 1em;
}

form label {
    display: block;
    margin-bottom: 0.3em;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 0.5em;
    background-color: #f7d8ff;
}

form ul.errorlist {
    color: red;
    font-size: 1em;
    margin-bottom: 1em;
    list-style: none;
    background-color: #f7d8ff;;
}

form .errorlist {
    color: red;
    margin-bottom: 1em;
    border: 2px solid red;
    background-color: #f7d8ff;
}

form input[type="checkbox"] {
    margin-right: 0.1em;
}
form p:has(input[type="checkbox"]) label {
    display: inline-flex;
    align-items: center;
    font-weight: normal;
}

form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #dc56ff;
    color: #1d0024;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}