* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444444;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 3em;
    width: 80%;
}

.container {
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10em;
}

.nav a {
    text-decoration: none;
    color: #c082db;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1.5em;
}

.content h2 {
    color: #c082db;
}

.content a:not(.logout):not(.delete) {
    text-decoration: none;
    color: #c082db;
}

form {
    width: 25em;
    padding: 1em;
    border: 3px solid #c082db;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

form label {
    color: #c082db;
    display: block;
    margin-bottom: 0.3em;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 0.5em;
    background-color: #ececec;
}

form ul.errorlist {
    color: red;
    margin-bottom: 1em;
    list-style: none;
}

form .errorlist {
    color: red;
    margin-bottom: 1em;
}

form p:has(input[type="checkbox"]) label {
    display: inline-flex;
    align-items: center;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #c082db;
    color: #444444;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}

.logout, .delete {
    width: 10em;
    padding: 0.5em;
    background-color: #c082db;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    text-decoration: none;
    color: #444444;
    justify-content: center;
    display: flex;
}

.request {
    width: 50em;
    padding: 1em;
    border: 3px solid #c082db;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.request a:not(.delete) {
    color: #c082db;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}

.request .img {
    max-width: 20%;
    height: auto;
    display: block;
}

p {
    color: #c082db;
}

.btn-delete {
    background-color: #c082db;
    color: #444444;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    height: 2.5em;
    margin-right: 1em;
}

.btn-cancel {
    background-color: #c082db;
    color: #444444;
    padding: 0.5em;
    border: none;
    text-decoration: none;
    display: inline-block;
}